<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>文件上传并识别</title>

    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/bootstrap/js/jquery-3.2.1.min.js}"></script>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" action="/file/uao" method="post" enctype="multipart/form-data" onsubmit="return check()">
                <div class="form-group">
                    <label for="inputfile">选择需要识别的图片文件</label>
                    <input type="file" id="inputfile" name="file" accept="image/*">
                    <p class="help-block">仅支持识别.jpg .png .bmp格式的图片文件。</p>
                </div>
                <button type="submit" class="btn btn-primary">上传并识别</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 表单提交前验证
    function check() {
        if ($("#inputfile").val() == "") {
            alert("请选择需要识别的图片文件。");
            return false;
        }
        window.open('/show');
        return true;
    }
</script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>